p{
    background-color: rgba(157, 187, 212, 0.591);
}
a{
    background-color: rgb(187, 220, 206);
}
div{
    background-color: blueviolet;
}
span{
    background-color: palevioletred;
}
br{
    background-color: greenyellow;
}